@using SachOnline.Models;
@model List<SessionGioHang>
@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/Layout/UserLayout.cshtml";
}

<h2>GioHang</h2>
@{
    if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>@item.iTenSach</td>
            </tr>
            <tr>
                <td>@item.iDonGia</td>
            </tr>
            <tr>
                <td>@item.iSoLuong</td>
            </tr>
            <tr>
                <td>@item.iDonGia</td>
            </tr>
            <tr>
                <td>@item.iTongGia</td>
            </tr>
        }
    }
    else
    {
       <h1>@ViewBag.Thongbao</h1>
    }
}


