@using SachOnline.Models;
@model List<SessionGioHang>
@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/Layout/UserLayout.cshtml";
}

<h2>GioHang</h2>
<table>
    <tr>
        <td>Tensach</td>
    </tr>
    <tr>
        <td>Gia</td>
    </tr>
    <tr>
        <td>Soluong</td>
    </tr>
    <tr>
        <td>don gia</td>
    </tr>
    <tr>
        <td>Tongtien</td>
    </tr>
    <tr>
        <td>tongsosach</td>
    </tr>



@foreach (var item in Model)
{
    <tr>
        <td>@item.iTenSach</td>
    </tr>
    <tr>
        <td>@item.iDonGia</td>
    </tr>
    <tr>
        <td>@item.iSoLuong</td>
    </tr>
    <tr>
        <td>@item.iDonGia</td>
    </tr>
    <tr>
        <td>@item.iTongGia</td>
    </tr>
}
    </table>

