@using SachOnline.Models;
@model Sach
@{
    ViewBag.Title = "ChiTietSachView";
}

<div>@Model.MaSach</div>
<div>@Model.TenSach</div>
<div>@Model.NhaXuatBan</div>
<div>@Model.ChuDe</div>
<div>@Model.GiaBan</div>